# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Project Temporary Files、
*.pro.user
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave
bin/
*.user~
*.rej
archive.zip
*.suo
*.sln
*.vcxproj
*.filters
*.user
*.tlog
*.manifest
*.lastbuildstate
*.log
*.obj
*.pdb
ipch/
*.sdf
*.cd
*VC.db
*.aps

